.productpage{
    &_path{
        background-color: rgb(230, 230, 230);
        padding: 15px calc(50% - 600px);
        width: 100%;
        font-size: 14px;
        font-weight: 500;
    }
    &_prod-detail{
        display: flex;
         justify-content: space-between;
         gap: 5%;
        padding: 2% calc(50% - 600px);
        .prod-img{
            display: flex;
             align-items: flex-start;
             gap: 5%;
             flex: 0 1 58%;
            .img-list{
                display: flex;
                 flex-direction: column;
                 flex: 0 1 20%;
                .img{
                    position: relative;
                    aspect-ratio: 1;
                    width: 100%;
                    object-fit: cover;
                    object-position: -20% 0;
                    margin-bottom: 10px;
                    overflow: hidden;
                }
            }
            img{
                border-radius: 12px;
            }
            .main-img{
                position: relative;
                flex: 0 1 85%;
                overflow: hidden;
                img{
                    width: 100%;
                }
                min-height: 630px;
            }
        }
        .prod-infor{
            flex: 0 1 40%;
            .title{
                font-size: 28px;
            }
            .id{
                margin: 5px 0 20px;
                font-size: 14px;
                color: #807878;
            }
            .price{
                font-size: 24px;
            }
            .size{
                margin-top: 10px;
                p{
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                input{
                    display: none;
                    &:checked+label{
                        border: 2px solid green;
                        color: green;
                        opacity: 1;
                    }
                }
                label{
                    margin-right: 10px;
                    padding: 3px 15px;
                    border: 2px solid #000;
                    border-radius: 6px;
                    font-size: 12px;
                    font-weight: 700;
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
            .warehouse{
                margin: 15px 0 10px;
            }
            .set-quantity-cart{
                display: flex;
                 justify-content: space-between;
                 gap: 2%;
                .setquantity{
                    display: flex;
                     justify-content: space-between;
                     align-items: center;
                    border: 2px solid #000;
                    border-radius: 16px;
                    width: 150px;
                    span{
                        text-align: center;
                        font-weight: 500;
                    }
                    .num{
                        border-left: 1.5px solid #000;
                        border-right: 1.5px solid #000;
                        flex: 2;
                        line-height: 15px;
                    }
                    .btn{
                        // padding-bottom: 5px;
                        flex: 1;
                        font-weight: 700;
                    }
                }
                .set-btn{
                    display: flex;
                     justify-content: center;
                     align-items: center;
                    height: 30px;
                    width: 200px;
                    border: 2px solid #000;
                    border-radius: 16px;
                    img{
                        height: 60%;
                    }
                    &:hover{
                        transition: all .2s linear;
                        box-shadow:  3px 3px 5px 0 rgb(203, 203, 203);
                        transform: translate(-1px, -1px);
                    }
                    &:active{
                        box-shadow: unset;
                        transform: unset;
                    }
                }
                .set-buy{
                    flex: 2;
                    background-color: rgb(0, 52, 0);
                    border-color: rgb(0, 52, 0);
                    color: aliceblue;
                    font-weight: 500;
                }
            }
            .services{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid #00000059;
                border-bottom: 1px solid #00000059;
                margin: 30px 0;
                &_child{
                    display: flex;
                     justify-content: center;
                     align-items: center;
                     gap: 12px;
                    //  flex: 1;
                    height: 50px;
                    margin: 5px;
                    img{
                        height: 60%;
                    }
                    p{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 11px;
                    }
                }
            }
            .policy{
                margin-top: -10px;
            }
        }
    }
    &_list{
        width: 100%;
        padding: 10px calc(50% - 600px);
        min-height: 453px;
        &>.title{
            margin: 20px 0;
            padding: 20px 2px 10px;
            border-bottom: 1px solid #00000059;
            width: 100%;
            font-size: 25px;
        }
        .list{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1%;
        }
    }
}