.checkoutpage{
    display: flex;
    justify-content: center;
    gap: 50px;
    min-height: 600px;
    padding: 2% 0;
    border-top: 1px solid #00000048;
    &_cart{
        display: flex;
         flex-direction: column;
         align-items: center;
        background-color: #fff;
        padding: 20px;
        height: 600px;
        width: 550px;
        border: 1px solid rgb(0,53,0);
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        animation: cart-smooth .2s linear forwards;
        .cart-title{
            margin-bottom: 20px;
            text-align: center;
        }
        .prod-list{
            flex: 1;
            width: 100%;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            .card{
                display: flex;
                 gap: 2%;
                margin: 10px 0;
                padding: 10px 0;
                border-bottom: 1px solid #00000059;
                height: 100px;
                .card-img{
                    height: 100%;
                    img{
                        aspect-ratio: 1;
                        height: 100%;
                        object-fit: cover;
                        object-position: -20% 0;
                        border-radius: 6px;
                    }
                }
                .infor{
                    flex: 1;
                    display: grid;
                    grid-template-columns: 10fr 1fr;
                    .title{
                        grid-column: 1/3;
                    }
                    // .des{
                    // }
                    .icon-recycle-bin{
                        img{
                            width: 15px;
                        }
                    }
                }
            }
        }
        .pay{
            display: flex;
            flex-direction: column;
             align-items: start;
            padding: 20px 0 0 5px;
            width: 100%;
            border-top: 1px solid #0000004e;
            .total{
                font-weight: 700;
            }
        }
    }
    .infor-custommer{
        // flex: 1;
        width: 600px;
        h2{
            text-align: center;
            margin-bottom: 50px;
        }
        .custommer-form{
            display: grid;
             grid-template-columns: 1fr 1fr;
             gap: 10px;
            #name, 
            #address,
            .col12{
                grid-column: 1/3;
            }
            &>input{
                padding: 5px 10px;
                font-size: 18px;
                border-radius: 6px;
                outline: unset;
                border: 2px solid #00000088;
            }
            .pay-method{
                display: flex;
                 flex-direction: column;
                 align-items: flex-start;
                 gap: 15px;
                margin-top: 20px;
                ul{
                    display: flex;
                     flex-direction: column;
                     gap: 15px;
                    li{
                        input{
                            margin: 0 10px;
                        }
                    }
                }
                &_online{
                    display: flex;
                    gap: 20px;
                    img{                        
                        width: 50px;
                        border-radius: 6px;
                        object-fit: cover;
                        object-position: 0 50%;
                        box-shadow: 0 0 5px 0 rgb(178, 178, 178);
                    }
                }
            }
            .btn-checkout{
                display: flex;
                 justify-content: end;
                 gap: 10px;
                margin-top: 50px;
                .btn{
                    background-color: rgb(0,53,0);
                    padding: 10px 20px;
                    border: unset;
                    outline: unset;
                    border-radius: 8px;
                    color: #fff;
                    font-weight: 500;
                    font-size: 16px;
                    &:hover{
                        transition: all .2s linear;
                        box-shadow:  3px 3px 5px 0 rgb(203, 203, 203);
                        transform: translate(-1px, -1px);
                    }
                    &:active{
                        box-shadow: unset;
                        transform: unset;
                    }
                }
            }
        }
    }
    .QRcode{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        &_coating{
            width: 100%;
            height: 100%;
            background-color: rgba(0, 53, 0, 0.241);
        }
        img{
            position: absolute;
             top: 50%;
             left: 50%;
            height: 50%;
            border-radius: 24px;
            animation: startQR .2s linear forwards;
            opacity: 0;
        }
    }
    @keyframes startQR {
        from{
            opacity: 0;
            transform: translate(-50%, -70%);
        }
        to{
            opacity: 1;
            transform: translate(-50%, -50%);
        }
    }
}