*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: rgba(231, 231, 231, 0.137);
}
li{
    list-style: none;
}
.pointer{
    cursor: pointer;
}
.unselect{
    user-select: none;
}
a{
    text-decoration: none;
}