.collections{
    display: flex;
     justify-content: space-between;
     align-items: start;
    width: 100%;
    padding: 60px calc(50% - 600px);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    .collection{
        width: 32%;
        padding: 10px;
        border-radius: 23px;
        &:hover{
            transition: all .15s linear;
            box-shadow: 0 0 5px 0 #00000035;
        }
        img{
            aspect-ratio: 3/4;
            width: 100%;
            // object-fit: cover;
            border-radius: 18px;
        }
        .title{
            margin: 10px 0 20px;
            font-size: 30px;
            text-align: center;
            letter-spacing: 1px;
        }
        .des{
            text-align: center;
            font-size: 22px;
            letter-spacing: .5px;
        }
    }
}