.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    opacity: 0;
    animation: start-page .5s .2s linear forwards;
    .header-title{
        background-color: rgb(230, 230, 230);
        padding: 20px;
        width: 100%;
        text-align: center;
    }
    .section-title{
        padding: 30px 0;
        width: 100%;
        text-align: center;
        font-size: 30px;
        letter-spacing: 1.5px;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    @keyframes start-page {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}