.userpage{
    display: grid;
     grid-template-columns: 230px 900px;
     gap: 20px;
    width: 1200px;
    margin: 30px auto 60px;
    padding: 0 20px;
    .sidebar{
        &_avt{
            display: flex;
             align-items: center;
             gap: 10px;
            margin-bottom: 10px;
            img{
                width: 50px;
                height: 50px;
                border: 1px solid black;
                border-radius: 50%;
            }
            &_username{
                display: flex;
                flex-direction: column;
                p:first-child{
                    font-weight: 700;
                }
                p:last-child{
                    margin-top: 10px;
                    font-size: 12px;
                    font-weight: 700;
                    opacity: .6;
                    cursor: pointer;
                }
            }
        }
        ul{
            li{
                line-height: 40px;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.767);
                &:hover{
                    transition: .2s all linear;
                    color: rgb(5, 175, 5);
                    cursor: pointer;
                }
            }
            ul{
                li{
                    margin-left: 20px; 
                    font-size: 14px;
                }
            }
        }
    }
    .board{
        padding: 20px;
        box-shadow: 0 0 3px 0 rgb(203, 203, 203);
        .profile{
            &_header{
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #c0c0c0;
                p:first-child{
                    font-size: 18px;
                    font-weight: 600;
                }
                p:last-child{
                    font-size: 14px;
                }
            }
            &_form{
                display: grid;
                grid-template-columns: 130px 450px 240px;
                gap: 10px;
                .label-list{
                    display: grid;
                     grid-auto-rows: 30px;
                     gap: 10px;
                    
                    label, p{
                        height: 100%;
                        font-size: 16px;
                        text-align: right;
                    }
                }
                .input-list{
                    display: grid;
                     grid-template-columns: 1fr;
                     grid-auto-rows: 30px;
                     gap: 10px;
                     align-self: center;
                    margin-left: 30px;
                    border-right: 1px solid #c0c0c0;
                    input:not([type="radio"]){
                        width: 300px;
                        padding: 5px;
                        border-radius: 4px;
                        border: 1px solid #000;
                    }
                }
                .infor_avt{
                    display: flex;
                     flex-direction: column;
                     align-items: center;
                     gap: 20px;
                    &_img{
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        aspect-ratio: 1;
                        border: 1px solid #00000086;
                        background-size: cover;
                    }
                    input{
                        display: none;
                    }
                    label{
                        width: 100px;
                        line-height: 40px;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 700;
                        box-shadow: 0 0 3px 0 rgb(203, 203, 203);
                        cursor: pointer;
                    }
                    p{
                        font-size: 12px;
                        margin-top: 10px;
                        opacity: .6;
                    }
                }
                .infor_list_btn{
                    background-color: #000;
                    width: 100px;
                    border: unset;
                    border-radius: 4px;
                    outline: unset;
                    font-size: 14px;
                    font-weight: 600;
                    color: white;
                    box-shadow: 0 0 3px 0 rgb(94, 94, 94);
                }
            }
        }
        .order{
            &_title{
                width: 100%;
                height: 40px;
                margin-bottom: 10px;
                line-height: 40px;
                font-size: 18px;
                font-weight: 700;
            }
            &_list{
                &_item{
                    background-color: #e9e9e9;
                    padding: 20px;
                    margin-bottom: 20px;
                    border-radius: 4px;
                    &_header{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 10px;
                        font-size: 14px;
                        &>p{
                            font-weight: 700;
                            opacity: .7;
                        }
                        .state{
                            color: green;
                        }
                        .cancled{
                            color: red;
                        }
                        .oder-status{
                            margin-left: 5px;
                            padding-left: 10px;
                            border-left: 1px solid #00000046;
                        }
                    }
                    &_list{
                        border-top: #00000050 1px solid;
                        .item{
                            display: grid;
                            grid-template-columns: 70px 1fr 200px;
                            gap: 10px;
                            padding: 10px 0;
                            border-bottom: #00000050 1px solid;
                            img{
                                width: 100%;
                                aspect-ratio: 1;
                                object-fit: cover;
                                border-radius: 4px;
                            }
                            .infor{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                font-size: 12px;
                                .free{
                                    width: 170px;
                                    text-align: center;
                                    color: rgb(0, 128, 90);
                                    border: 1px solid rgb(0, 128, 90);
                                }
                            }
                            .price{
                                text-align: right;
                                font-size: 14px;
                            }
                        }
                    }
                    &_footer{
                        font-size: 14px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 20px 0 0;
                        .footer-btn{
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
                .btn{
                    padding: 5px 10px;
                    border: 1px solid #00000046;
                    border-radius: 4px;
                    cursor: pointer;
                }
                .bg-black{
                    background-color: #000000;
                    color: white;
                }
            }
        }
    }
}