.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 calc(50% - 600px);
        height: 80px;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        &_icon{
            display: flex;
            gap: 12px;
        }
        img{
            max-height: 30px;
            cursor: pointer;
        }
    }
    &_mid{
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 1200px;
        padding: 30px 0;
        &>div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 33%;   

        }
        &>div p{
            text-align: center;
        }
        p{
            font-size: 14px;
            width: 350px;
        }
        img{
            margin-top: 12px;
            height: 40px;
        }
    }
    &_bot{
        padding: 10px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.15);
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-weight: 500;
    }
}